.hero {
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../images/hero-img/hero-bcg.jpg);
	background-color: #c4c4c4;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 200px;
	padding-bottom: 200px;
	text-align: center;
}
.hero__title {
	color: var(--primary-white-color);
	font-family: var(--main-font);

	font-weight: 900;
	font-size: 44px;
	line-height: calc(60 / 44);
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;

	margin-bottom: 30px;
	max-width: 696px;
	margin-left: auto;
	margin-right: auto;
}
