.logo {
  color: var(--nav-color);
  font-family: var(--second-font);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}
.footer__logo {
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.logo__label {
  color: var(--accent-color);
  font-family: var(--second-font);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
}
