.logo {
	display: flex;

	color: var(--nav-color);
	font-family: var(--second-font);
	text-decoration: none;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.192;
	letter-spacing: 0.03em;
}

.logo__label {
	color: var(--accent-color);
	font-family: var(--second-font);
}
.footer__logo {
	display: block;
	color: var(--primary-white-color);
	margin-bottom: 20px;
	@media screen and (max-width: 1199px) {
		text-align: center;
	}
}
