// BLOCK 2
body {
	color: var(--primary-text-color);
	background-color: var(--primary-white-color);
	font-family: var(--main-font);
	font-size: 14px;
	line-height: calc(24 / 14);
	letter-spacing: 0.03em;
}
