// BLOCK 2
body {
	color: var(--primary-text-color);
	background-color: var(--primary-white-color);
	font-family: var(--main-font);
	font-size: 14px;
	line-height: calc(24 / 14);
	letter-spacing: 0.03em;
}

// // body {
//   color: text(main-gray);
//   font-family: $font-main;

//   @media screen and (min-width: 1200px) {
//     padding-top: $header-height;
//   }
// }
